body {
  font-family: "poppins";
  background: #e5e0e0;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  display: grid;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
  padding-bottom: 30px;
  padding-top: 50px;
}
.grid-3-columns-secondary {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
  padding-bottom: 30px;
  padding-top: 50px;
}
.card {
  background: white;
  margin: 30px 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-header.grid {
  gap: 0;
}
.card-body {
  padding: 20px;
  margin: 0;
}
.card-footer {
  padding-bottom: 20px;
  padding-top: 2px;
}

.btn {
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background: rgba(131, 71, 71, 0.924);
  max-width: 70%;
  margin-top: 20px;
  text-decoration: none;
}

.img-responsive {
  width: 100%;
  display: block;
}
.why-barcelona {
  margin-top: 10px;
}
section {
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: rgb(246, 246, 246);
}
.text-center {
  text-align: center;
}
:root {
  ---primary-color: rgb(255, 255, 255);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("/images/header-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 150px 0;
}
header h1 {
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  line-height: 1.5;
}

header h2 {
  font-weight: 100;
  font-size: 30px;
  line-height: 1.5;
}
header h3 {
  font-weight: 900;
  line-height: 1.5;
  font: bolder;
  letter-spacing: 5px;
}
header a {
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.9);
  background: var(---primary-color);
  padding: 16px 25px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 20px;
}
header h1,
header h3,
header h2 {
  margin: 0;
}

main {
  background-color: white;
}

main h2 {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  margin: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.5;
}
main h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: rgba(150, 80, 80, 0.4);
}
main p {
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}
section img {
  width: 100%;
}

.socials-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2px;
  color: rgb(57, 24, 35);
}
.icon-links {
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 20%;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  padding: 10px 12px;
  margin: 3px;
  justify-content: space-between;
}
.icon-links:hover {
  color: rgb(233, 171, 238);

  transition: all 200ms ease-in-out;
}
footer {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(150, 80, 80, 0.4), rgba(0, 0, 0, 0.9)),
    url(/images/night-life.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  opacity: 0.6;
}
footer a:hover {
  color: rgb(233, 171, 238);
}
footer h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

footer p {
  font-weight: 300;
  opacity: 0.7;
  font-size: 13px;
  line-height: 1.2;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 43px;
    line-height: 1;
    margin-bottom: 20px;
  }
  header h2 {
    font-size: 18px;
  }
  header h3 {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 1px;
    text-align: center;
  }
  .grid-3-columns {
    gap: 1px;
    margin: 0;
    padding: 2px;
    padding-top: 10px;
  }
  .why-barcelona {
    margin-top: 10px;
  }

  .card-header .img-responsive {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  main h2 {
    font-size: 10px;
    margin-top: 0;
  }
  main h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  main p {
    font-size: 10px;
  }

  section {
    padding: 40px 0;
  }
  .grid-3-columns a {
    font-size: 10px;
    padding-top: 0;
    line-height: 1;
  }
  .grid-3-columns-secondary a {
    padding: 10px;
    max-width: 25%;
    font-size: 7px;
  }

  section h4 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  section h2 {
    font-size: 14px;
  }
  section p {
    font-size: 10px;
    margin-top: 0;
  }
  .socials-icon {
    margin-top: 0;
  }
  ul {
    padding-top: 0;
    margin-top: 0;
  }

  header a {
    font-size: 7px;
    padding: 12px 18px;
    margin-top: 35px;
  }
  footer {
    padding: 0 40px;
  }
}
